 /* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


 /* common css */
button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  outline: none;
  padding: .875rem 1rem;
  border-radius: 1.5rem;
  border: none;
  background: #FF69AD;
  font-size: 0.875rem;
  pointer-events: auto;
}
.outline {
  color: #FF69AD;
  border: 1px solid #FF69AD;
  border-radius: 1rem;
  padding: .5rem 1rem;
  background: transparent;
}
.big-button {
  width: 20rem;
}
.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.App {
  max-width: 750px;
  margin: 0 auto;
  font-size: 1rem;
  color: #222;
  background:rgba(0,0,0,.04);
  font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

 /* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  background: #fff;
}
.header-content {
  margin-left: .625rem;
}
.header-content-title {
  font-weight: bold;
  font-size: .75rem;
  color: #222;
  padding: .1em 0;
}
.header-content-desc {
  font-size: .625rem;
  padding: .5em 0;
  color: #999;
}
.header-button {
  height: 2rem;
  font-size: 0.875rem;
}

/* content */
.content {
  border-radius: 0 0 1.25rem 1.25rem;
  background: #fff;
}
.content-button {
  margin-top: 1rem;
  height: 2rem;
  font-size: 0.875rem;
}
.content-user {
  margin-left: .3rem;
}
.content-user-name {
  font-size: .75rem;
  padding: .1em 0;
}
.content-user-img {
  padding: .2em 0;
}
.content-user-img img:not(:first-child) {
  margin-left: .3rem;
}
.content-main {
  padding: .937rem;
}
.content-article {
  margin-top: 1.56rem;
}
.content-article-title {
  font-weight: bold;
}
.content-article-body {
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.3;
  letter-spacing: .03em;
  margin-top: 1rem;
}
.content-article-label {
  margin-top: .625rem;
  font-size: .75rem;
  color: #999;
}
.content-article-label span:not(:first-child) {
  color: #ff69ad;
  margin-left: .625rem;
}

/* comment */
.comment {
  padding: 2rem 1rem 1rem;
  background: transparent;
  font-size: .875rem;
}
.comment-title {
  font-weight: bold;
}

.comment-list {
  padding: 1rem 0 2rem 0;
}

.comment-reply-wrapper {
  margin-top: 1rem;
  margin-left: 2.625rem;
}
.comment-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment-item-wrapper:not(:first-child) {
  margin-top: 1.875rem;
}
.comment-item-count {
  font-size: .75rem;
  color: #999999;
}
.comment-item-date {
  font-size: .75rem;
  color: #999999;
  margin-left: .625rem;
}
.author {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.125rem;
  height: 1.5rem;
  border-radius: .75rem;
  background: #e0e0e0;
  font-size: .875rem;
  color: #222;
  margin-left: .625rem;
}
.comment-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment-body {
  display: flex;
  flex-direction: column;
  margin-left: .625rem;
}
.comment-body-name {
  font-size: .875rem;
  color: #999
}
.comment-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comment-content {
  margin-top: .3125rem;
}

/* recommended */
.recommended-content {
  background: #fff;
  padding: 1rem .625rem 1.875rem .625rem;
}
.recommended-content-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
  margin-top: .625rem;
}
.recommended-content-item {
    position: relative;
    border-radius: 1.25rem;
    overflow: hidden;
    padding-bottom: .6875rem;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
}
.recommended-content-item-title {
  font-size: .875rem;
  font-weight: bold;
  padding: .3rem .625rem;
  word-spacing: .2rem;
  letter-spacing: 1px;
}
.recommended-content-item-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .3rem;
  font-size: .75rem;
  padding: 0 .625rem;
}
.recommended-content-item-user div {
  display: flex;
  align-items: center;
}
.recommended-content-item-name {
  padding-left: .4em;
}
.count {
  color: #999;
}


.title {
  font-size: .875rem;
}
.recommended-content-item-icons {
  position: absolute;
  top: .625rem;
  right: .625rem;
}
.recommended-content-item-icons img:not(:first-child) {
  padding-left: .2rem;
}
.recommended-content-button {
  width: 10rem;
  height: 3rem;
  border-radius: 1.5rem;
  background: #8cd1e6;
  margin-top: 1rem;
}

.recommended-content-button-text {
  font-size: .875rem;
  color: #fff;
  padding-left: .625rem;
}
